.weather{
    width: 250px;
    border-radius: 6px;
    box-shadow: 10px -3px 20px 3px rgba(0, 0, 0, 60%);
    color:white;
    background-color:rgb(90, 90, 90);
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}
.top ,
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.city{
    font-weight: 600;
    font-size: 20px;
    line-height: 2;
    margin: 0;
    letter-spacing: 2px;
}
.weather-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    margin: 0;
}
.img{
    width: 100px;
}
.temp{
    font-weight: 700;
    font-size: 50px;
    width: auto;
    letter-spacing: 2px;
    margin: 10px 0;
}
.details{
    width: 100%;
    padding-left: 15px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.label{
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}
.value{
    text-align: right;
    font-weight: 500;
    font-size: 13px;
}